*/target/
*.jar
.DS_Store
*.class
**/.classpath
**/.project
**/.settings
**/*.iml
logs/
**/.*
**/classes/
*.MF
ipreziProject-admin/.externalToolBuilders                                                                                                                                                                 
.mymetadata
!.gitignore
 
ipreziProject-front/src/main/webapp/myUpload/*
ipreziProject-front/src/main/webapp/preziUpload/*
ipreziProject-front/src/main/webapp/WEB-INF/preziUpload/*
pookor-convertor/filedir/*
out/*
patch/*
