
<!DOCTYPE html>
<html>
<head>
    #parse("/common/common_head_title.vm")
    #parse("/common/common_head_meta.vm")
	#parse("/common/common_head_ref.vm")
    #leftBarActive("user")
    #leftBarActive2("vip")

<body class='${themeStyle}'>
    #parse("/common/common_head.vm")

<div id='wrapper'>

    <div id='main-nav-bg'></div>

    #parse("/common/common_leftbar.vm")

    <section id='content'>
        <div class='container-fluid'>
            <div class='row-fluid' id='content-wrapper'>
                <div class='span12'>
                    <div class='page-header'>
                        <h1 class='pull-left'>
                            <i class='icon-user'></i>
                            <span>金卡会员开通记录</span>
                        </h1>
                        <div class="pull-right">
                            <ul class="breadcrumb">
                                <li>
                                    <i class="icon-signal"></i>
                                </li>
                                <li class="separator">
                                    <i class="icon-angle-right"></i>
                                </li>
                                <li>金卡会员开通记录</li>
                                <li class="separator">
                                    <i class="icon-angle-right"></i>
                                </li>
                                <li class="active">列表</li>
                            </ul>
                        </div>
                    </div>
                    <div class='alert alert-info'>
                        <a class='close' data-dismiss='alert' href='#'>&times;</a>
                        <strong ></strong>
                        - [这里显示了会员的开通记录]
                    </div>

                    <div class='row-fluid'>

                        <div class='span12 box bordered-box green-border' style='margin-bottom:0;'>
                            <div class="input-prepend">
                                <br>
                            </div>
                            <form id="queryForm" action="$!{basePath}user/security/vipOpenLog/toVipOpenLogList" method="post">

                                <div class="input-prepend " style="margin-top: 4px;">
                                    <span class="add-on">开通方式</span>
                                    <select name = 'openType' id="openType">
                                        <option value="">请选择</option>
                                        #foreach($!type in $!OpenType)
                                            <option
                                                #if($!{type.value}== $!{query.openType})
                                                        selected = "selected"
                                                #end  value="$!{type.value}"
                                            />$!{type.describe}
                                        #end
                                    </select>
                                </div>&nbsp;&nbsp;

                                <div class="input-prepend" style="margin-top: 7px;">
                                    <span class="add-on" style="margin-top: 7px;">开通时间区间</span>
                                    <div class="datetimepicker input-append" id="datetimepicker" style="margin-top: 7px;">
                                        <input class="input-medium" data-format="yyyy-MM-dd hh:mm:ss" type="text" id="timeBeginStr" name="timeBeginStr" value="$!{query.timeBeginStr}">
                                        <span class="add-on">
                                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                                            </span>
                                    </div>
                                    <div class="datetimepicker input-append" id="datetimepicker" style="margin-top: 7px;">
                                        <input class="input-medium" data-format="yyyy-MM-dd hh:mm:ss" type="text" id="timeEndStr" name="timeEndStr" value="$!{query.timeEndStr}">
                                        <span class="add-on">
                                            <i data-date-icon="icon-calendar" data-time-icon="icon-time" class="icon-calendar"></i>
                                            </span>
                                    </div>
                                </div>

                                <div class="pull-right">
                                    <button class="btn btn-primary" name="button" style="margin-top: 11px;" id="submitBtn">查&nbsp;&nbsp;&nbsp;询</button>
                                </div>

                                <input type="hidden" name="pageNo" value="$!pageBean.pageNo" id ="pageNo">
                                <input type="hidden" name="pageSize" value="$!pageBean.pageSize" id ="pageSize">
                            </form>

                           <br>

                            <div class='box-content box-no-padding'>
                                <table class='table table-bordered table-hover table-striped' style='margin-bottom:0;'>
                                    <thead>
                                    <tr>
                                        <th>手机号</th>
                                        <th>有效期</th>
                                        <th>开通方式</th>
                                        <th>开通时间</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                        #if($page.getListResult().size() == 0)
                                        <tr >
                                            <td colspan="4" valign="middle" style="text-align: center"><font color="" size="4">还没有会员开通记录信息</font></td>
                                        </tr>
                                        #else
                                            #foreach($obj in $page.getListResult())
                                            <tr>
                                                <td>$!{obj.userTelephone}</td>
                                                <td>
                                                    #if($!obj.timeValue / 30 >1)
                                                        #set($month = $!obj.timeValue / 30)
                                                        金卡会员$month 个月
                                                        #else
                                                            金卡会员$!obj.timeValue 天
                                                    #end
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    $!date.format('yyyy-MM-dd',$!obj.timeBegin) 至 $!date.format('yyyy-MM-dd',$!obj.timeEnd)
                                                </td>
                                                <td>
                                                    #foreach($type in $OpenType)
                                                        #if($type.value == $!{obj.openType})
                                                        $type.describe
                                                        #end
                                                    #end

                                                </td>
                                                <td>
                                                    $!date.format('yyyy-MM-dd HH:mm:ss',$!obj.createTime)
                                                </td>
                                            </tr>
                                            #end
                                        #end
                                    </tbody>
                                </table>
                                <!-- 引入分页 -->
                                #pageBar("queryForm")
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>

</body>
<script>
    requirejs(['customerrelation/vipOpenLog/vipOpenLog'],function(vipOpenLog){
        vipOpenLog.initList();
    });

</script>
</html>
