
##ztree需要引入的js和css
##<link rel="stylesheet" href="${basePath}static/common/js/lib/zTree_v3/css/demo.css" type="text/css">
<link rel="stylesheet" href="${basePath}static/common/js/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css" type="text/css">
<script type="text/javascript" src="${basePath}static/common/js/lib/zTree_v3/js/jquery.ztree.core.js"></script>
<script type="text/javascript" src="${basePath}static/common/js/lib/zTree_v3/js/jquery.ztree.excheck.js"></script>
<script type="text/javascript" src="${basePath}static/common/js/lib/zTree_v3/js/jquery.ztree.exedit.js"></script>
<style type="text/css">
    .ztree li span.button.add {margin-left:2px; margin-right: -1px; background-position:-144px 0; vertical-align:top; *vertical-align:middle}
</style>
