<meta charset="utf-8">
<!--<meta name="keywords" content=" 布客  培训管理   培训通知   培训评估   培训签到    培训报告   讲师服务 培训互动   师资管理"/>-->
<!--<meta name="description" content="布客-培训管理平台 布客致力于通过互联网+的方式提升企业培训管理的专业性与体验，使培训管理者更加高效地组织培训、享受过程、掌控结果。布客，连接每一位培训人，传播每一条成长路！ 一起来玩转培训通知、培训评估、培训报告。"/>-->

<meta content="IE=Edge" http-equiv="X-UA-Compatible">
<meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport' />