<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <properties>
		<property name="dialect" value="mysql"/>
	</properties>
	
	<!-- 设置类别名 -->
	<!--<plugins>-->
	<!---->
		<!--<plugin interceptor="com.cloudwinker.framework.utils.mybatis.page.plugin.PaginationInterceptor">-->
			<!--<property name="pageSqlId" value=".*PageList.*" />-->
			<!--<property name="exportSqlId" value=".*EPageList.*" />-->
		<!--</plugin>-->
		<!---->
	<!--</plugins>-->
	
</configuration>